@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url('assets/images/rocketMath.png');
}
.displayMiddle {
	margin: 0 auto;
	align-items: center;
}

.btn {
	background: none;
	font-size: 1.5rem;
	border: 1px solid black;
	padding: 20px 20px 15px 15px;
	margin-bottom: 1rem;
}

.border {
	border: 1px solid black;
}

.container {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 0 0;
	grid-template-areas:
		' . . heading heading . .'
		' . . question answer  rocket . '
		' . . score . rocket . '
		' truck truck truck truck rocket . ';

	height: 100vh;
	width: 100vw;
}

.heading {
	grid-area: heading;
	margin: 5rem auto;
	font-size: 3rem;
}

#instructions {
	font-size: 2rem;
}

#question {
	grid-area: question;
	justify-self: right;
	font-size: 5rem;
}

.answer {
	grid-area: answer;
}

.answerInput {
	width: 50%;
	height: 200%;
	background: none;
	font-size: 4rem;
}

.score {
	grid-area: score;
}

.rocket {
	grid-area: rocket;
	margin-top: 5rem;
	z-index: 5;
	height: 80%;
	margin: 0 auto;
}

.fuel {
	grid-area: truck;
	display: flex;
}

.fuelimg {
	width: 15%;
	margin: 0 0.5rem;
}
.hidden {
	display: none;
}
.animate {
	animation: fly 10s;
}

@keyframes fly {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-1000px);
	}
}
